body{background-color: #EB853D}
table{background-color: #EB853D;width:1000px;margin-left: auto;margin-right: auto;}
th{font-size:100px;font-family: arial;background-color: #ffffff}
td{font-size:25px;font-family:arial;color: black;border-style: solid;background-color: #ffffff}}
.menu{font-size:28px;font-family:arial;color: lightgrey;text-align: center;}
img{height:250px;width:230px;}
.centrar{text-align:center;}
.imagen{height:250px; width: 250px;}
.logos{height:50px;width:50px;}